.wrap{
  .page_container{
    h4::after{
      top: 20px;
    }
    .twin_row{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      .img_container{
        margin: 0;
        padding: 0;
      }
    }
  }
}