footer{
  background-color: #2c353d;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
  .wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 0 auto;
    grid-column-gap: 80px;
    .col1{
      color: #ffffff;

      h3{
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 20px auto 20px auto;
        font-size: 18px;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        line-height: 42px;
      }
      p{
        letter-spacing: 1px;
        margin: 20px auto 20px auto;
        font-size: 15px;
        line-height: 26px;
      }
    }
  }
}
@media (max-width: 1200px) {
  footer{
    .wrap{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 700px) {
  footer{
    .wrap{
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
    }
  }
}