.page_container{
  line-height: calc(36px + 4 * (100vw - 320px)/1920);
  ul{
    li{
      margin-left: 20px;
      line-height: 26px;
    }
  }

  .img_box{

    img{
      height: 100%;
      object-fit: cover;
    }
  }
}