.logo{
  height: 90px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  //font-size: 40px;
  font-size: calc(16px + 30 * (100vw - 320px)/1920);
  //calc(44px + 33.6 * ((100vw - 320px)/1920));
  font-weight: 500;

  .logo_lz{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    p{
      // color: #50BBB4;
      margin-left: 20px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 400;
    }
    img{
      width: 180px;
      object-fit: cover;
    }
  }
  .social_icons{
    //border: #50bbb4 1px solid;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    a svg path{
      transition: 300ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: 300ms;
      -webkit-transition-timing-function: ease-in-out;
    }
    a svg:hover path{
      fill: #50bbb4;
    }
    a{
      svg{
        margin: 0;
      //  margin-right: -20px;
      }
    }
  }
}
.menu{
  margin-top: 5px;
  width: 100%;
  background-color: #2c353d;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  ul{
    //margin-left: 90px;
    margin-left: calc(16px + 80 * (100vw - 560px)/1920);
    //calc(16px + 30 * (100vw - 320px)/1920);
    display: flex;
    flex-wrap: nowrap;

    a{
      text-decoration: none;
    }

    li{
      transition: 0.3s;
     // margin-right: 46px;
      margin-right: calc(16px + 64 * (100vw - 560px)/1920);
      font-size: 16px;
      font-weight: bold;
      color: #e6e6e6;
      //text-transform: uppercase;
      list-style: none;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2c353d;
        max-width: 320px;
        z-index: 1;
      }

      .dropdown-content a {
        transition: 0.3s;
        color: #e6e6e6;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
        font-weight: 400;
       //border-bottom: 1px solid #e6e6e6;
      }
      .dropdown-content:first-child{
        padding-top: 20px;
      }
      .dropdown-content a:hover {
        color: #50bbb4;
      }

    }
    li:hover{
      color: #50bbb4;
      cursor: pointer;
      .dropdown-content{
        display: block;

      }
    }
  }

}
@media (max-width: 760px) {
  .logo {
    height: unset;
    flex-wrap: wrap;

    .logo_lz {
      flex-wrap: wrap;
      width: 100%;

      p {
        width: 100%;
      }
    }
  }
}