.slider_container{
  width: 100%;
  //height: 558px;

  .gallery {
    width: 100%;
    visibility: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #120C12;
    justify-content: center;
    .slider {
      width: 100%;
      //max-width: 1176px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      .slogan{
        display: flex;
        position: absolute;
     // font-size: 30px;
        font-size: calc(14px + 32 * (100vw - 320px)/1920);
        //text-transform: uppercase;
        //top: 300px;
        padding: calc(10px + 20 * (100vw - 320px)/1920) 0 0 calc(16px + 70 * (100vw - 320px)/1920);
        letter-spacing: 2px;
        bottom: 0;
        left: 0;
        right: 0;
        //height: 186px;
        height: calc(70px + 60 * (100vw - 320px)/1920);
        width: 100%;
        z-index: 4;
        color: #e6e6e6;
        background-color: rgba(80,187,180, 0.8);
        //line-height: 42px;
        line-height: calc(20px + 48 * (100vw - 320px)/1920);

      }
      .stage {
        overflow: hidden;
        .rec {
          float: left;
          position: relative;
          width: 100%;
          //height: px;
          background: #120C12;

          img {
            object-fit: cover;
            width: 100%;
            max-height: 640px;
            //margin-top: 33px;
            //height: 50px;
          }
          p {
            margin: 17.38px auto 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #f1f1f1;
            text-align: center;
          }
        }
      }
      .control {
        //display: none;
        // position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        z-index: 5;

        .nav-ctrl {
          display: none;

          .prev{
            position: absolute;
            top: 45%;
            left: calc(2px + 20 * (100vw - 320px)/1920);
            background-image: url("../img/slider_arrow_right.svg");
            background-size: cover;
            width: 12px;
            height: 21px;
            transform: rotate(180deg);
          }
          .next{
            position: absolute;
            top: 45%;
            right: calc(2px + 20 * (100vw - 320px)/1920);
            background-image: url("../img/slider_arrow_right.svg");
            background-size: cover;
            width: 12px;
            height: 21px;
          }
        }
        .dots-ctrl {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin-bottom: calc(5px + 20 * (100vw - 320px)/1920);

          li {
            display: inline-block;
          }
          span {
            width: calc(4px + 4 * (100vw - 320px)/1920);
            height: calc(4px + 4 * (100vw - 320px)/1920);
            display: block;
            margin: 5px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: #ffffff;
            cursor: pointer
          }
        }

        .dots-ctrl .active span {
          opacity: 1;
          width: 16px;
          border-radius: 8px;
        }
        .dots-ctrl span:hover{
          background-color: rgb(80,80,80);
        }
      }

      .nav-ctrl span:hover {
        cursor: pointer;
      }
      .nav-ctrl .disable, .nav-ctrl .disable:hover {
        opacity: 0.3;
        cursor: default
      }
    }


  }
}